:root {
  --font: 'Rubik', sans-serif;
  --clr-primary: hsl(221, 70%, 65%);
  --clr-primary-75: hsl(221, 70%, 75%);
  --clr-primary-85: hsl(221, 70%, 85%);
  --clr-secondary: #f0a384;
  --clr-neutral-lt: #fafafa;
  --clr-neutral-drk: #303850;
}

* {
  box-sizing: border-box;
}

html,
body,
.App {
  height: 100vh;
}

body {
  margin: 0;
  color: var(--clr-neutral-drk);
  font-family: var(--font);
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  padding: 0 0.5rem;
}

.App {
  text-align: center;
  padding: 4rem 0;
  background-image: linear-gradient(to right bottom, #678fe4, #b588d5, #e186b7, #f39099, #f0a384);
  overflow-y: auto;
}

.search-wrapper {
  width: 50vw;
  min-width: 350px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  border: 0.1rem solid var(--clr-neutral-drk);
  outline: none;
  background-color: var(--clr-neutral-lt);
  font-family: var(--ff-primary);
  font-size: 14px;
  line-height: 20px;
  height: 38px;
  margin: 0 15px;
  box-shadow: 3px 3px 2px var(--clr-neutral-drk);
}

.NumberOfEvents {
  width: 300px;
  position: relative;
  margin: 15px auto;
}
.number-of-events {
  width: 80px;
  text-align: inherit;
}

.CitySearch {
  width: 300px;
  position: relative;
  margin: 0 auto;
}
.city {
  width: 250px;
  margin-right: 0;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
  top: 37px;
  right: 18px;
  font-size: 14px;
  border-radius: 4px;
  border: 0.1rem solid var(--clr-neutral-drk);
  box-shadow: 3px 3px 2px var(--clr-neutral-drk);
}
.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: var(--clr-primary-75);
  cursor: default;
}
.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--clr-primary);
}
.suggestions > li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.suggestions >
  li:hover,
  li:focus {
    background-color: var(--clr-primary-85);
}

.Alert {
  background-color: var(--clr-neutral-lt);
  border-radius: 4px;
  font-weight: 600;
  padding: 5px;
  box-shadow: 3px 0px 2px var(--clr-neutral-drk);
}
.Alert > p {
  margin: 0;
}

#info-alert-wrapper {
  position: absolute;
  top: -48px;
  right: 18px;
  z-index: 1;
  width: 250px;
}
#error-alert-wrapper {
  position: absolute;
  top: -29px;
  right: 29px;
  z-index: 1;
}
#offline-alert-wrapper {
  position: fixed;
  top: 150px;
  width: 100%;
  z-index: 2;
  border-radius: 0;
  border: 0.1rem solid var(--clr-neutral-drk);
}

.display-none {
  display: none;
}

.showSuggestions {
  display: block;
}

ul {
  margin: 4rem 0;
  padding: 0 5px;
  list-style: none;
}

p {
  margin: 10px 0;
}

a {
  color: var(--clr-primary);
  font-weight: 600;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: line-through;
  color: var(--clr-primary-75);
  transition: 0.2s ease-in-out;
}

.event {
  width: 50vw;
  min-width: 350px;
  margin: 1rem auto;
  padding: 10px 30px 30px;
  text-align: left;
  border-radius: 4px;
  border: 0.1rem solid var(--clr-neutral-drk);
  position: relative;
  background-color: var(--clr-neutral-lt);
  box-shadow: 5px 5px 2px var(--clr-neutral-drk);
}

.toggle-details {
  padding: 10px;
  color: var(--clr-neutral-lt);
  background-color: var(--clr-primary);
  border-radius: 4px;
  border: 0.1rem solid var(--clr-neutral-drk);
  outline: none;
  cursor: pointer;
  box-shadow: 1px 2px 2px var(--clr-neutral-drk);
}
.toggle-details:hover,
.toggle-details:focus {
  background-color: var(--clr-primary-75);
  transition: 0.2s ease-in-out;
  box-shadow: none;
}

.description {
  overflow-x: hidden;
}

.data-vis {
  margin: 3rem 5vw;
  background-color: var(--clr-neutral-lt);
  border-radius: 4px;
  border: 0.1rem solid var(--clr-neutral-drk);
  box-shadow: 5px 5px 2px var(--clr-neutral-drk);
}
.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.recharts-surface {
  overflow: visible;
}

@media only screen and (max-width: 450px) {
  .data-vis {
    margin: 3rem 0.35rem;
  }
  #pie-container {
    margin-right: 10vw;
  }
  #scatter-container {
    margin-left: -10vw;
  }
}

@media only screen and (min-width: 700px) and (max-width: 999px) {
  .data-vis {
    width: 75vw;
    margin: 3rem auto;
  }
}

@media only screen and (min-width: 1000px) {
  .data-vis {
    margin: 3rem 5vw;
  }
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
  }
  #pie-container {
    padding-left: 2vw;
  }
  #scatter-container {
    padding-right: 2vw;
  }
}

@media only screen and (min-width: 1500px) {
  .data-vis {
    margin: 3rem 15vw;
  }
  #pie-container {
   padding-left: 5vw; 
  }
  #scatter-container {
    padding-right: 5vw;
  }
}
